{% extends "base_templates/base.html" %}
{% load filters %}

{% block title %}{{ album.title }} Reviews{% endblock %}


{% block body %}
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3">
        <h1>{{ album.title }}</h1>
        <h2>{{ album.artist }}</h2>
        <h3>{% if album.genre %}{{ album.genre }}{% else %}{% endif %}</h3>
        {% if album.cover_art %}
          <img src="{{ album.cover_art.url }}" alt="{{ album.title }} cover" style="max-height: 500px; max-width: 500px;">
        {% endif %}
        <p class="lead">Submitted by: {{ album.submitted_by }}</p>
      </div>
      <div class="col-md-9 d-flex align-items-center">
        <table class="table table-bordered" id="review-table">
          <thead>
            <tr>
              <th>Reviewer</th>
              <th>Rating</th>
              <th>Review</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in object_list %}
              <tr>
                <td>{{ obj.user }}</td>
                <td>{{ obj.rating }}</td>
                <td>
                  <div>
                    {{ obj.notes|linebreaks }}
                  </div>
                  <div class="d-flex justify-content-center">
                    <form action="{% url 'user_review_vote' obj.id user_id 'like' %}" method="POST">
                      {% csrf_token %}
                      <button class="btn btn-outline-primary me-2" type="submit" {% if obj.user_id == user_id %}disabled{% endif %}>
                        {% if obj.id in user_likes %}
                          <i class="bi bi-hand-thumbs-up-fill"></i>
                        {% else %}
                          <i class="bi bi-hand-thumbs-up"></i>
                        {% endif %}
                        {{ like_counter_lookup|get_item:obj.id }}
                      </button>
                    </form>
                    <form action="{% url 'user_review_vote' obj.id user_id 'dislike' %}" method="POST">
                      {% csrf_token %}
                      <button class="btn btn-outline-primary" type="submit" {% if obj.user_id == user_id %}disabled{% endif %}>
                        {% if obj.id in user_dislikes %}
                          <i class="bi bi-hand-thumbs-down-fill"></i>
                        {% else %}
                          <i class="bi bi-hand-thumbs-down"></i>
                        {% endif %}
                        {{ dislike_counter_lookup|get_item:obj.id }}
                      </button>
                    </form>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% if waiting_on %}
      <div class="row text-center">
        <p class="lead">Waiting on reviews from:</p>
        {% for user in waiting_on %}
          <p>{{ user }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block bottom_javascript %}
  <script src="{{ DATATABLES_JS_URL }}"></script>
  <script type="text/javascript">
    $('#review-table').DataTable();
  </script>
{% endblock %}