{% extends "base_templates/base.html" %}
{% load filters %}

{% block title %}Home{% endblock %}


{% block body %}
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Album</th>
          <th>Your Review</th>
          <th>Group Reviews</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
          <tr>
            <td>{{ obj }}</td>
            <td>
              {{ user_review_lookup|get_item:obj.id|get_item:"rating" }} {% if user_review_lookup|get_item:obj.id|get_item:"rating" != '--' %}<a class="btn btn-primary float-end" href="{% url 'album_review' user_review_lookup|get_item:obj.id|get_item:'id' %}">Edit</a>{% endif %}
            </td>
            <td>{{ obj.get_average_score }} <a class="btn btn-primary float-end" href="{% url 'album_review_list' obj.id %}">See All</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
