{% extends "base_templates/base.html" %}

{% block title %}Home{% endblock %}


{% block body %}
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6">
        <h1>{{ album.title }}</h1>
        <h2>{{ album.artist }}</h2>
        {% if album.cover_art %}
          <img src="{{ album.cover_art.url }}" alt="{{ album.title }} cover" style="max-height: 500px; max-width: 500px;">
        {% endif %}
        <p class="lead">Submitted by: {{ album.submitted_by }}</p>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Reviewer</th>
              <th>Rating</th>
              <th>Review</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in object_list %}
              <tr>
                <td>{{ obj.user.email }}</td>
                <td>{{ obj.rating }}</td>
                <td>{{ obj.notes }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
