{% extends "base_templates/base.html" %}

{% block title %}Statistics{% endblock %}


{% block body %}
  <div class="container">
    <h1>User Stats</h1>
    <table class="table table-bordered" id="user-table">
      <thead>
        <tr>
          <th>User</th>
          <th>Max Rating</th>
          <th>Min Rating</th>
          <th>Average Rating</th>
          <th>Average Submitted Score</th>
        </tr>
      </thead>
      <tbody>
        {% for user, values in user_data_dict.items %}
          <tr>
            <td>{{ user }}</td>
            <td>{{ values.max }}</td>
            <td>{{ values.min }}</td>
            <td>{{ values.avg }}</td>
            <td>{{ values.submitted_avg }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
    <h3>Group Tastemaker: {{ tastemaker }}</h3>
    <p>Average difference between personal review and group consensus: {{ tastemaker_diff }}</p>

    <h1>Group Stats</h1>
    <h3>Average Album Rating: {{ average_review }}</h3>
    <hr>
    <h3>Highest Rated Album: {{ highest_rated_album }}</h3>
    <div>
      {% if highest_rated_album.cover_art %}
        <img src="{{ highest_rated_album.cover_art.url }}" alt="{{ highest_rated_album.title }} cover" style="max-height: 500px; max-width: 500px;">
      {% endif %}
      <p>Submitted by: {{ highest_rated_album.submitted_by }}</p>
      <h4>Average Score: {{ highest_rated_album.get_average_score }}</h4>
    </div>
    <hr>
    <h3>Lowest Rated Album: {{ lowest_rated_album }}</h3>
    <div>
      {% if lowest_rated_album.cover_art %}
        <img src="{{ lowest_rated_album.cover_art.url }}" alt="{{ lowest_rated_album.title }} cover" style="max-height: 500px; max-width: 500px;">
      {% endif %}
      <p>Submitted by: {{ lowest_rated_album.submitted_by }}</p>
      <h4>Average Score: {{ lowest_rated_album.get_average_score }}</h4>
    </div>
    <hr>
    <h3>Most Controversial Album: {{ most_controversial_album }}</h3>
    <div>
      {% if most_controversial_album.cover_art %}
        <img src="{{ most_controversial_album.cover_art.url }}" alt="{{ most_controversial_album.title }} cover" style="max-height: 500px; max-width: 500px;">
      {% endif %}
      <p>Submitted by: {{ most_controversial_album.submitted_by }}</p>
      <h4>Standard Deviation: {{ most_controversial_stdev }}, High Score: {{ most_controversial_high }}, Low Score: {{ most_controversial_low }}</h4>
    </div>
    <hr>
    <h3>Least Controversial Album: {{ least_controversial_album }}</h3>
    <div>
      {% if least_controversial_album.cover_art %}
        <img src="{{ least_controversial_album.cover_art.url }}" alt="{{ least_controversial_album.title }} cover" style="max-height: 500px; max-width: 500px;">
      {% endif %}
      <p>Submitted by: {{ least_controversial_album.submitted_by }}</p>
      <h4>Standard Deviation: {{ least_controversial_stdev }}, High Score: {{ least_controversial_high }}, Low Score: {{ least_controversial_low }}</h4>
    </div>
  
    <h1>Personal Stats</h1>
    <h3>Total Likes: {{ personal_likes }}</h3>
    <h3>Total Dislikes: {{ personal_dislikes }}</h3>
  </div>
{% endblock %}

{% block bottom_javascript %}
  <script src="{{ DATATABLES_JS_URL }}"></script>
  <script type="text/javascript">
    $('#user-table').DataTable({"pageLength": 25});
  </script>
{% endblock %}